.window { z-index:20; }
.jtk-connector { z-index:4; }
.jtk-endpoint { z-index:5; }
.jtk-overlay { z-index:6; }


.drag-drop {
  display: inline-block;
  position: absolute;
  top: 0px;
  width: 100px;
  height: 100px;
  border-radius: 0.75em;
  border: 0.2rem solid rgb(98, 178, 235);
  transform: translate(0px, 0px);
  z-index: 1;
}

.AND {
  background-color: #29e;
  background-image: url("../images/AND.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.NOT {
  background-color: #29e;
  background-image: url("../images/NOT.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.OR {
  background-color: #29e;
  background-image: url("../images/OR.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.XOR {
  background-color: #29e;
  background-image: url("../images/XOR.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.XNOR {
  background-color: #29e;
  background-image: url("../images/XNOR.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.NAND {
  background-color: #29e;
  background-image: url("../images/NAND.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.NOR {
  background-color: #29e;
  background-image: url("../images/NOR.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.FullAdder {
  background-color: #29e;
  background-repeat: no-repeat;
  background-position: center;
}

.FullAdder:after {
  content: "1-bit Full Adder";
  margin: auto;
  padding: 1.2rem 0rem;
  font-weight: bold;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
}

.HIGH {
  text-align: center;
  display: inline-block;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0.2rem solid rgb(98, 178, 235);
  transform: translate(0px, 0px);
  z-index: 1;
  background-color: #29e;
  background-repeat: no-repeat;
  background-position: center;
}

.LOW {
  text-align: center;
  display: inline-block;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0.2rem solid rgb(236, 234, 90);
  transform: translate(0px, 0px);
  z-index: 1;
  background-color: rgb(238, 235, 34);
  background-repeat: no-repeat;
  background-position: center;
}

.HIGH a,
.LOW a {
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  height: 100%;
  width: 100%;
}

.HIGH p,
.LOW p,
.Output p {
  position: absolute;
  top: -30px;
  align-items: center;
  font-size: 1.3rem;
}

.HIGH a:hover,
.LOW a:hover {
  color: black;
}

.Output {
  display: inline-block;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0.2rem solid rgb(20, 21, 22);
  transform: translate(0px, 0px);
  z-index: 1;
  background-color: rgb(4, 5, 5);
  background-repeat: no-repeat;
  background-position: center;
}

.card {
  width: 18rem;
  margin: 1rem;
  background-color: grey;
}

.components-list {
  padding: 2% 5%;
  text-align: center;
  height: 100%;
}


.components-list-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#circuit-board {
  position: relative;
  width: 100%;
  height: 800px;
  border: 0.2rem solid black;
}

#working-area {
  position: relative;
  width: 95%;
  height: 765px;
  margin: 15px;
}

.connector-point {
  position: absolute;
  z-index: 1;
  display: block;
  height: 15px;
  width: 1px;
  border-radius: 50%;
  background-color: grey;
}

svg.wire path {
  stroke: #456;
  stroke-width: 3;
}

.menu {
  width: 120px;
  z-index: 1;
  box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  position: fixed;
  display: none;
  transition: 0.2s display ease-in;
}

.menu-options {
  list-style: none;
  padding: 10px 0;
  z-index: 1;
}

.menu-option {
  font-weight: 500;
  z-index: 1;
  font-size: 14px;
  padding: 10px 40px 10px 20px;
}

.menu-option:hover {
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.component-button{
  width: 80px;
  height: 80px;
  border-radius: 0.75em;
  border: 0.2rem solid rgb(98, 178, 235);
  margin: 1rem 0;
  font-weight: bold;
  font-size: 0.8rem;
  text-align: center;
  color: black;
}

.component-button::after {
  display: block;
  padding-bottom: 100%;
}

.component-button:hover {
  border: 0.2rem solid rgb(157, 210, 248);
  cursor: pointer;
}

.success-message {
  font-size: 1.2rem;
  color: rgb(31, 170, 31);
  font-weight: bold;
}

.failure-message {
  font-size: 1.2rem;
  color: rgb(228, 23, 23);
  font-weight: bold;
}
